@using Microsoft.AspNetCore.Http;
@{
    var urlImage = await WebApp.Api.Media.GetMediaAsync("logoHeadsOn.png");
}

<head>
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">
</head>

<body>
    <div class="footer">
        <div class="left-column">
            <img src="@urlImage" alt="HeadsOn - Tech on finance">
        </div>
        <div class="right-column">
            <p>Base de conhecimento - HeadsOn &copy; - @DateTime.Now.Year</p>
        </div>
    </div>
</body>