@using Microsoft.AspNetCore.Http;
@{
    var urlImage = Piranha.Utils.GetImage(Context.Request.Host.Value, "logo_lis2b.png");
}

<head>
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">
</head>

<body>
    <div class="footer">
        <div class="left-column">
            <img src="@urlImage" alt="LIS2b - Lean Integrated Solutions">
        </div>
        <div class="right-column">
            <p>Base de conhecimento - LIS2B &copy; - @DateTime.Now.Year</p>
        </div>
    </div>
</body>