@page
@model RazorWeb.Pages.SearchModel
@{

}
<div class="container text-center">

    <p>Receber Termo Pesquisa: <strong>@searchTerm</strong></p>

    <p>Consultar Posts no SQLITE</p>

    <p>Exibir Resultado</p>

</div>