@page
@model RazorWeb.Pages.SearchModel
@{
    var searchTerm = Request.Query["searchTerm"];
}
<div class="container text-center">

    <p>Receber Termo Pesquisa: <strong>@searchTerm</strong></p>

    <p>Consultar Posts no SQLITE</p>

    <p>Exibir Resultado</p>

</div>